body {
    margin: 0;
    background: linear-gradient(0.25turn, #3A9ECA, #2B627A);
    color: #ffffff;
    font-size: 15px;
    }
    /* header */
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
    }

h1{
    text-align: center;
    }


h2{
    text-align: end;
    }

    /* main */
main{
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid;
    grid-template-columns: auto auto auto;  */
    }

img{
    border: 3px solid #a8a8a8;
    border-radius: 5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    }

.grid{
    border: 3px solid #ff0000;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }   

p{
    font-size: 20px;
    text-align: center;
    }

input{
    display: none;
    }
    
